<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPLETED ACTIVITIES</title>
    <style>
        /* Set table to full width and collapse borders */
        table {
            width: 100%;
            border-collapse: unset;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        

    </style>
</head>
<body>



<table>
    <thead>
        <tr>
            <th>ARCHIEVED ACTIVITIES</th>
            <th>ACTIONS</th>
         
        </tr>
    </thead>
    <tbody>
        <!-- Using @foreach to loop through activities -->
        @each (activity in activities)
        <tr>
            <td>
                <!-- Display the activity name -->
                {{ activity.activity }}
            </td>

            <td>
              <a href="/edit/{{ activity.id }}">
                <button>EDIT</button>
            </a>
            </td>

            <td>
                <a href="/view/{{ activity.id }}">
                    <button>UNARCHIEVE</button>
                </a>
            </td>

            <td>
              <a href="/delete/{{ activity.id }}">
                <button>DELETE</button>
            </a>
            </td>

        </tr>
        @endeach
    </tbody>
</table>

</body>
</html>
